root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# PowerShell
[*.{ps1,psm1,psd1}]
indent_size = 4

# Markdown may use trailing spaces for explicit line breaks
[*.md]
trim_trailing_whitespace = false

# Windows command scripts
[*.{bat,cmd}]
end_of_line = crlf

# Makefiles require tabs
[Makefile]
indent_style = tab
indent_size = tab
